version: "3.9"

services:
  backend:
    build: ./backend
    container_name: laravel-backend
    ports:
      - "8000:8000"
    depends_on:
      - redis
      - mysql
    environment:
      QUEUE_CONNECTION: redis
      REDIS_HOST: redis
      REDIS_PASSWORD: null
      REDIS_PORT: 6379
      DB_CONNECTION: mysql
      DB_HOST: mysql
      DB_PORT: 3306
      DB_DATABASE: testdb
      DB_USERNAME: root
      DB_PASSWORD: secret
    volumes:
      - ./backend:/var/www/html
  frontend:
    build: ./frontend
    container_name: chatbot-frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      VITE_API_BASE_URL: http://localhost:8000
    depends_on:
      - backend

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"

  mysql:
    image: mysql:8.0
    container_name: mysql
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: testdb
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
  redis_data: